<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NotasOnline</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.html</form-login-page>
      <form-error-page>/error.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ProtegidoAlumnos</web-resource-name>
      <url-pattern>/api/*</url-pattern>
      <url-pattern>/alumno/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>alumno</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ProtegidoProfesores</web-resource-name>
      <url-pattern>/api/*</url-pattern>
      <url-pattern>/profesor/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>profesor</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>alumno</role-name>
  </security-role>
  <security-role>
    <role-name>profesor</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>AuthTest</display-name>
    <servlet-name>AuthTest</servlet-name>
    <servlet-class>AuthTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthTest</servlet-name>
    <url-pattern>/authtest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlumnService</display-name>
    <servlet-name>AlumnService</servlet-name>
    <servlet-class>AlumnService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnService</servlet-name>
    <url-pattern>/api/alumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfeService</display-name>
    <servlet-name>ProfeService</servlet-name>
    <servlet-class>ProfeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfeService</servlet-name>
    <url-pattern>/api/profesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotasService</display-name>
    <servlet-name>NotasService</servlet-name>
    <servlet-class>NotasService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotasService</servlet-name>
    <url-pattern>/api/notas</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>listener.PropertiesInitializer</listener-class>
  </listener>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetAlumno</display-name>
    <servlet-name>GetAlumno</servlet-name>
    <servlet-class>GetAlumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAlumno</servlet-name>
    <url-pattern>/api/GetAlumno</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LogFilter</display-name>
    <filter-name>LogFilter</filter-name>
    <filter-class>LogFilter</filter-class>
    <init-param>
      <param-name>logFilePath</param-name>
      <param-value>/home/user/tomcat/webapps/NotasOnline/registro.txt</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogTest</display-name>
    <servlet-name>LogTest</servlet-name>
    <servlet-class>LogTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogTest</servlet-name>
    <url-pattern>/logtest</url-pattern>
  </servlet-mapping>
</web-app>
